body {
    background: white;
    font-family: "Comfortaa";
}
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
.btn-sidebar {
    border: solid 1px white;
    color: white;
}
.navbar{
    background-color: #196ae3 !important;
    padding: 10px;
}
.nav-link:hover{
    border-bottom: solid 0.5px white;
}
.sidebar{
    background-color: #196ae3 !important;
}
.sidebar-heading{
    color: white;
}
.card{
    color: white;
    background-color: #196ae3;
}
.card-body{
    background-color: #1d8aff;
}
.card button{
    color: white;
}
.card button:hover{
    color: white;
}